<!doctype html>
<html>
    <head>
        <title>View Data</title>
    </head>

    <body>
        <!-- Top Menu -->
        <main>
            <h3><a href="/students/add">Add Student</a>&emsp;&emsp;<a href="/courses/add">Add Course</a>&emsp;&emsp;<a href="/students">Students</a>&emsp;&emsp;<a href="/courses">Courses</a>&emsp;&emsp;<a href="/logout">Log Out</a></h3>
            {{{body}}}
        </main>
        <!-- footer -->
    </body>
</html>