<div class="row">
	<main class="col-md-12">
		<p>This assignment is about testing connection to the Postgres server, quering, adding and deleting data from it while authenticating the user.</p>



	</main>
</div>